# Ignore all hidden files/folders
.*

# Allow essential dotfiles
!.gitignore
!.babelrc
!.prettierrc
!.editorconfig
!.eslintrc.json
!.eslintignore
!.buildpacks

# Common dependency & cache folders
node_modules/
__pycache__/

# Ignore common build folders (anywhere)
**/build/
**/build-*/         # e.g. build-debug, build-release
**/dist/
**/out/
**/cmake-build-*/

# IDE-specific files
.idea/
*.iml
